<ion-header>
    <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-grid *ngFor = "let n of a">
    <ion-row>
      <ion-col >
          <img (click)="big($event)" src="https://picsum.photos/id/1/100/100">
      </ion-col>
      <ion-col>
        <img (click)="big($event)" src="https://picsum.photos/id/2/100/100">
      </ion-col>
      <ion-col>
        <img (click)="big($event)" src="https://picsum.photos/id/11/100/100">
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
