<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-instagram"></ion-icon>
      Instagram 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment scrollable class="status-wrapper">

    <ion-segment-button class="status-item own-status">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Your story</ion-label>
      <ion-icon name="add" class="plus-icon"></ion-icon>
    </ion-segment-button>

    <ion-segment-button *ngFor="let status of statusList" class="status-item other-status">
        <ion-avatar>
          <img [src]="status.imageUrl">
        </ion-avatar>
        <ion-label>{{status.name}}</ion-label>
    </ion-segment-button>

  </ion-segment>



       
    
  <ion-card (click)="big()" (dblclick)="like()" *ngFor="let char of data;let index i" class="single-post-home">
    <ion-item (click)="profile(char)">
      <ion-avatar item-start>
        <img src="https://randomuser.me/api/portraits/thumb/men/38.jpg">
      </ion-avatar>
      <h2>{{char.login.username}}</h2>
    </ion-item>
    <img src="https://picsum.photos/400/500.jpg">

    <ion-item>
      <ion-icon name="heart"></ion-icon>
      <ion-icon name="share-social"></ion-icon>
      <ion-icon name="pricetag"></ion-icon>
      <ion-icon  slot="end" name="bookmark"></ion-icon>
    </ion-item>


    
    <ion-card-content class="feed-details-container">
      <strong> likes</strong> 
      <p class="user-given-details">
        <strong class="user-name">feed.userName </strong>
        <span class="feed-text">feed.feedText}}</span>
        <span class="grey-text"> more</span>
        lorem ipsum 💥
      </p>
      <p class="all-comments"> <span class="grey-text">View All Comments</span></p>
      <p class="post-time"> <span class="grey-text">feed.time}}</span></p>
    </ion-card-content>
  </ion-card>
  

  <ion-infinite-scroll (ionInfinite)="loadMoreChars($event)">
    <ion-infinite-scroll-content loadingText="loading">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
    
</ion-content>
